<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git.install"
            packageParameters="/NoShellIntegration /GitOnlyOnPath /WindowsTerminal"
    />
    <package id="cmake.install"
            installArguments="ADD_CMAKE_TO_PATH=System"
    />
    <package id="visualstudio2017buildtools"
            packageParameters="--locale en-US --includeRecommended --includeOptional --lang en-US--add Microsoft.VisualStudio.Workload.MSBuildTools --add Microsoft.VisualStudio.Workload.VCTools"
    />
</packages>