<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="cmake.install"
        installArguments="ADD_CMAKE_TO_PATH=System"
    />
    <package id="git.install"
            packageParameters="/NoShellIntegration /GitOnlyOnPath /WindowsTerminal /SChannel"
    />
    <package id="tortoisegit"/>
    <package id="chocolateygui "/>    
    <package id="previewconfig"/>
    <package id="winmerge"/>
</packages>