<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git"
            packageParameters="/NoShellIntegration /GitOnlyOnPath"
    />
    <package id="tortoisegit"
    />
    <package id="virtualbox"
            packageParameters=""
    />
    <package id="vagrant"
            packageParameters=""
    />
</packages>